<script setup lang="ts">
import { ref, nextTick, onMounted} from "vue";

import {  type User } from "../types/User";
import type { VForm } from "vuetify/components";

import http from '@/services/http'

//store
import {useUserStore} from '@/stores/user';
import UploadUserImage from '@/components/UploadUserImage.vue';


const userStore = useUserStore()
const form = ref(false);
const refForm = ref< VForm | null>(null);
const loading = ref(false);

  const headers = [
        {
          title: "ID",
          key: "id",
          value: "id",
        },
        {
          title: "Email",
          key: "email",
          value: "email",
        },
        {
          title: "Password",
          key: "password",
          value: "password",
        },
        {
          title: "Name",
          key: "fullName",
          value: "fullName",
        },
        {
          title: "Gender",
          key: "gender",
          value: "gender",
        },
        { title: "Actions", key: "actions", sortable: false },
      ];
const genders = ['male' , 'female' , 'others'];
  
  function onSubmit() {
        // Implement your form submission logic here
      }
  function closeDialog() {
    userStore.dialog = false;
    nextTick(() => {
      userStore.editedUser = Object.assign({}, userStore.initiUser);
    });
  }
  onMounted(() => {
    userStore.getUsers();
  });

  async function save(){
    const { valid } = await refForm.value!.validate()
    if (!valid) return;

    await userStore.saveUser()
    closeDialog();
    userStore.clearForm()
  }


</script>

<template>
  <div>
    <br />
    <v-data-table :headers="headers" :items="userStore.users">
      <template v-slot:top>
        <v-toolbar flat class="bg-blue">
          <v-toolbar-title>Users</v-toolbar-title>
          <v-divider class="mx-4 border-opacity-75" inset vertical thickness="2" color="white" ></v-divider>
          <v-spacer></v-spacer>
          <v-dialog v-model="userStore.dialog" persistent width="1024">
            <template v-slot:activator="{ props }">
              <v-btn color="primary" v-bind="props" icon="mdi-account-plus" class="bg-white"> </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5">User Profile</span>
              </v-card-title>
              <v-card-text>
                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="userStore.editedUser.fullName"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Full Name"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="userStore.editedUser.email"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Email"
                        ></v-text-field>
                      </v-col>
                        <v-col cols="12" sm="12" md="4">
                          <v-combobox
                            v-model="userStore.editedUser.gender"
                            :items="genders"
                            label="Gender"
                          ></v-combobox>
                        </v-col>
                      </v-row>
                    <v-row>                     
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="userStore.editedUser.password"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          clearable
                          label="Password"
                          placeholder="Enter your password"
                        ></v-text-field>
                        <small>*password must longer than or equal 8 digits</small>
                      </v-col>
                    </v-row>

                    <!-- <v-row>
                      <UploadUserImage></UploadUserImage>
                    </v-row> -->
                  </v-container>
                </v-form>
                <small>*indicates required field</small>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDialog()">
                  Close
                </v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="save()"> Save </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <!-- Delete Dialog -->
          <v-dialog v-model="userStore.dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5"
                >Are you sure you want to delete this item?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="userStore.closeDelete"
                  >Cancel</v-btn
                >
                <v-btn color="blue-darken-1" variant="text" @click="userStore.deleteItemConfirm"
                  >OK</v-btn
                >
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <div>{{ item.id }}</div>
        <v-icon size="small" class="me-2" @click="userStore.editItem(item)"> mdi-pencil </v-icon>
        <v-icon size="small" @click="userStore.deleteItem(item)"> mdi-delete </v-icon>
      </template>
    </v-data-table>
  </div>
</template>
